body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .rdt_TableCol{
  background-color: #333A40;
  color: rgb(255, 255, 255);
  font-size: 1.2rem;
}
.rdt_TableCell{
  font-size: 1rem;
} */

[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    background-color: #dc3545;
    color: #fff;
}

[class*=sidebar-dark-] .nav-treeview>.nav-item>.nav-link:hover {
  background-color: #0358d8;
  color: #ffffff;
}